<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    You are logged out!!
    <form action="/auth/logout" method="POST">
    <div class="form-group">
    <label for="Username">Review</label>
    <input type="text" class="form-control" id="Username" name="username">
  </div>
  <button type="submit" class="btn btn-primary">HOME</button>
    </form>
    <script type="text/javascript" src="/controllers/auth.js"></script> 
    <script type="text/javascript" src="/routes/logout.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>